.modal-header{
    display: flex;
    justify-content: flex-start;
}
.modal-header-right{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.modal-header-right h2{
    margin: 5px 5px 0px 10px;
}

.modal-header-right span{
    margin: 0px 5px 5px 10px;
    color: gray;
}
.modal-header-right h3{
    margin: 5px 5px 5px 10px;
}
.modal-header-right button{
    margin: 5px 5px 5px 10px;
}
.modal-content p{
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
}

@media(max-width:768px){
    div.MuiBox-root.css-1k6mj0u{
        width: 60%;
    }
}

@media(max-width:425px){
    div.MuiBox-root.css-1k6mj0u{
        width: 60%;
    }
    .modal-header{
        flex-direction: column;
    }
    .modal-header-right{
        max-width: 220px;
    }
    .modalimage{
        height: 150px;
        width: auto;
        object-fit: contain;
    }
    .modal-header-right span{
        width: 40%;
    }
    .modal-header-right h3{
        width: 30%;
    }
    .modal-header-right button{
        width: 70%;
    }
}